$font-stack: Helvetica, sans-serif;

$title-color: #065fed;
$button-color: #547BF1;
$back-color: #368eec;
$button-font-color: #fff;
$word-black-color: #333333;
$green: #7dc15b;
$yellow: #e6a23c;
$purple: #a372df;
$red: #F56C6C;
$grey: #9a9a9a;
$blue: #17a2b8;
