.banner {
    padding-top: 30px;
    background-image: url("@/assets/img/home-bg.png");
    background-size: cover;
    background-position: top;
    height: 500px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.ground {
    flex-wrap: wrap;
    position: absolute;
    top: 0%;
    // transform: translateY(-44.3%);
    background-size: cover;
    background: linear-gradient(rgba(0, 103, 221, 0.3) 0%,
            rgb(205, 226, 252) 45%,
            rgb(174, 208, 244) 100%);
    /* background-image: url('@/assets/img/ju.png'); */
}

.navigation {
    padding: 10px 0 10px 60px;
    display: flex;
    flex-flow: row;

    @media (max-width: 765px) {
        padding-left: 20px;
    }

    @media (min-width: 765px) and (max-width: 1024px) {
        padding-left: 20px;
    }

    @media (min-width: 1024px) {}

    .navigation-tran {
        height: 40px;
        display: flex;
        flex: 0.9;

        @media (max-width: 765px) {
            flex: 1;
        }

        @media (min-width: 765px) and (max-width: 1024px) {
            margin-left: 25px;
        }

        @media (min-width: 1024px) {
            margin-left: 50px;
        }

        .navigation-logo {
            width: 40px;
            height: 40px;
            border-radius: 10px;
        }

        .navigation-title {
            height: 50px;
            width: 120px;
        }
    }

    .blank-box {
        flex: 3;

        @media (max-width: 765px) {
            display: none;
        }

        @media (min-width: 765px) and (max-width: 1024px) {
            flex: 1;
        }

        @media (min-width: 1024px) and (max-width: 1300px) {
            flex: 1;
        }

        @media (min-width: 1300px) {
            flex: 2;
        }
    }

    .navigation-icon {
        display: flex;
        flex: 0.7;
        line-height: 40px;

        @media (max-width: 600px) {
            flex: 1;
        }

        @media (min-width: 600px) and (max-width: 765px) {}

        @media (min-width: 765px) and (max-width: 1024px) {
            flex: 1;
        }

        @media (min-width: 1024px) {}

        .el-dropdown-link {
            color: #000;
            line-height: 40px;
            padding-left: 5px;
        }

        .el-divider {
            background-color: #414141;
            height: 40px;
            width: 1.5px;
            margin-right: 25px;
            border-left: 1px solid #414141;
        }

        .iconfont {
            margin-right: 15px;
        }

        .icon-down1::before {
            font-size: 14px;
            margin-left: 3px;
        }
        .dropdown-class{
            .my-title{
                margin: 10px 0 0 10px;
                font-weight: 600;
            }
            .el-dropdown-menu{
                margin: 20px 5px;
            }
        }
    }

    .navigation-portrait {
        display: flex;
        line-height: 40px;
        height: 40px;

        .portrait-avatar {
            width: 40px;
            height: 40px;
            border-radius: 35px;
        }

        .portrait-nickname {
            font-size: 14px;
            margin-left: 10px;
        }

        .navigation-button {
            cursor: pointer;
        }

        .navigation-button:hover {
            color: #000;
        }
    }
}

.component-box {
    margin: 10px auto;
    margin-top: 0px;
    width: 80%;
    height: 40px;
    line-height: 40px;
    display: flex;

    .search-word {
        margin-top: 5px;
        margin-right: 20px;

        @media (max-width: 765px) {}

        @media (min-width: 765px) and (max-width: 1024px) {}

        @media (min-width: 1024px) {}
    }

    .search-box {
        display: flex;
        width: 75%;

        @media (max-width: 765px) {}

        @media (min-width: 765px) and (max-width: 1024px) {
            width: 60%;
        }

        @media (min-width: 1024px) {}

        .search-content {
            --el-border-radius-base: 10px 0 0 10px;
        }

        .el-button {
            border-radius: 0 10px 10px 0;
            border: 0;
            height: 40px;
            width: 80px;
        }
    }
}

.module-boxes {
    width: 70%;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(6, 10%);
    grid-gap: 10px 8%;

    @media (max-width: 765px) {
        margin-top: 45px;
        width: 70%;
        grid-template-columns: repeat(3, 23%);
        grid-gap: 15px 15%;
        grid-template-rows: repeat(2, 40%);
    }

    @media (min-width: 765px) and (max-width: 1024px) {
        grid-template-columns: repeat(6, 12%);
        grid-gap: 10px 5%;
        margin-top: 50px;
        width: 92%;
    }

    @media (min-width: 1024px) {}
    >div:hover{
        box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.1);
    }
    .module-box {
        background-color: #fff;
        border-radius: 10px;
        height: 65%;
        font-size: 14px;
        text-align: center;

        img {
            cursor: pointer;
            transform: translateY(-50%);
            width: 80%;
        }

        div {
            cursor: pointer;
            height: 100%;
            transform: translateY(-70%);

            @media (max-width: 765px) {
                transform: translateY(-90%);
            }

            @media (min-width: 765px) and (max-width: 1024px) {}

            @media (min-width: 1024px) {}
        }
    }
}

.middle-box {
    width: 97%;
    margin: 0 auto;
    transform: translateY(-15px);
    display: flex;
    background-color: rgb(174, 208, 244, 0);

    @media (max-width: 765px) {
        transform: translateY(-36px);
    }

    @media (min-width: 765px) and (max-width: 1024px) {}

    @media (min-width: 1024px) {}

    .left-boxes {
        flex: 10;
        display: grid;
        grid-template-areas:
            "chart1 chart1 chart2 chart2 chart3 chart3 chart4 chart4"
            "footer1 footer1 footer1 footer2 footer2 footer2 footer2 footer2";
        grid-template-rows: 175px 450px;
        grid-template-columns: repeat(8, 11%);
        grid-gap: 10px 1.7%;
        margin-right: 10px;
        background-color: #fff;
        background-color: rgb(174, 208, 244, 0);

        @media (max-width: 765px) {
            flex: 4;
            grid-template-rows: 175px 175px 500px;
            grid-template-areas:
                "chart1 chart1 chart1 chart1 chart2 chart2 chart2 chart2"
                " chart3 chart3 chart3 chart3 chart4 chart4 chart4 chart4"
                "footer1 footer1 footer1 footer1 footer1 footer1 footer1 footer1";
        }

        @media (min-width: 765px) and (max-width: 1024px) {
            flex: 4;
            grid-template-rows: 175px 175px 500px;
            grid-template-areas:
                "chart1 chart1 chart1 chart1 chart2 chart2 chart2 chart2"
                " chart3 chart3 chart3 chart3 chart4 chart4 chart4 chart4"
                "footer1 footer1 footer1 footer1 footer2 footer2 footer2 footer2";
        }

        @media (min-width: 1024px) {}

        div {
            background-color: #fff;
        }
        >div{
            box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
        }
        .el-dropdown {
            cursor: pointer;
        }

        .chart1,
        .chart2,
        .chart3,
        .chart4 {
            padding-bottom: 3%;
            border-radius: 10px;

            @media (max-width: 765px) {}

            @media (min-width: 765px) and (max-width: 1300px) {
                padding-bottom: 0%;
            }

            @media (min-width: 1300px) {}

            #chart1-content,
            #chart2-content,
            #chart3-content,
            #chart4-content {
                height: 75%;
                width: 94%;
                padding: 0 3%;
                margin-top: 3%;
                border-radius: 10%;
            }

            .el-dropdown {
                border-radius: 10px;
                margin: 3% 3% 0 3%;
                padding: 0px 5px 3px 5px;
                font-size: 12px;

                // display: flex;
                // justify-content: center;
                // align-content: center;
                #el-id-5859-0 {
                    display: flex;
                    justify-content: center;
                    align-content: center;
                }

                .icon-down::before {
                    font-size: 12px;
                }
            }
        }

        .chart1 {
            grid-area: chart1;

            .el-dropdown {
                border: 1.5px solid #547BF1;
                color: #547BF1;
            }
        }

        .chart2 {
            grid-area: chart2;

            .el-dropdown {
                border: 1.5px solid #6C54F1;
                color: #6C54F1;
            }
        }

        .chart3 {
            grid-area: chart3;

            .el-dropdown {
                border: 1.5px solid #ed8b31;
                color: #ed8b31;
            }
        }

        .chart4 {
            grid-area: chart4;

            .el-dropdown {
                border: 1.5px solid #7ab25f;
                color: #7ab25f;
            }
        }

        .chart-title1,
        .chart-title2,
        .chart-title3,
        .chart-title4 {
            font-size: 18px;
            font-weight: 600;
            display: block;
            margin-top: 10px;
            margin-left: 5px;
        }

        .chart-title1 {
            color: #547BF1;
        }

        .chart-title2 {
            color: #6C54F1;
        }

        .chart-title3 {
            color: #ed8b31;
        }

        .chart-title4 {
            color: #7ab25f;
        }

        .none-data {
            line-height: 130px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .footer1,
        .footer2 {
            border-radius: 10px;
            position: relative;

            .footer-title {
                display: flex;
                align-items: center;
                border-radius: 10px 10px 0 0;
                height: 40px;
                line-height: 25px;
                border-bottom: 1px solid #ccc;

                .el-divider {
                    height: 13px;
                    border-left: 5px solid $title-color;
                    margin-right: 4px;
                }

                .title-box {
                    color: $title-color;
                    font-weight: 600;
                    margin-right: auto
                }

                .more-view {
                    font-size: 12px;
                    color: #7a7a7a;
                    margin-right: 8px;
                    cursor: pointer;
                }

                .iconfont::before {
                    font-size: 12px;
                }
            }

            .template-img {
                height: 60px;
                position: absolute;
                bottom: 0;
                right: 10%;
            }
        }

        .footer1 {
            grid-area: footer1;

            .template-boxes {
                cursor: pointer;
                word-wrap: break-word;
                font-size: 14px;
                padding: 10px 5px 0 10px;

                .template-box {
                    margin-bottom: 6px;
                    padding: 5px 5px 5px 5px;
                    border-radius: 5px;
                    // border-bottom: 1px solid #ccc;

                    .template-title {
                        margin-right: auto;
                        margin-bottom: 5px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                    }

                    .template-bottom {
                        font-size: 12px;
                        display: flex;
                        flex-wrap: wrap;
                        line-height: 20px;
                        align-items: center;

                        .first-label {
                            background-color: $button-color;
                            color: #fff;
                            border-radius: 5px;
                            padding: 0 5px;
                        }

                        .second-label {
                            margin-left: 5px;
                            margin-right: 8px;
                            background-color: #e6eaf2;
                            color: $button-color;
                            border-radius: 5px;
                            padding: 0 5px;
                        }

                        .name-label {
                            margin-right: auto;
                        }

                        .time-label {
                            @media (max-width: 765px) {}

                            @media (min-width: 765px) and (max-width: 1024px) {
                                display: none;
                            }

                            @media (min-width: 1024px) {}
                        }
                    }

                }

                .template-box:hover {
                    background-color: #f3f5f8;
                }
            }
        }

        .footer2 {
            grid-area: footer2;

            @media (max-width: 765px) {
                display: none;
            }

            @media (min-width: 765px) and (max-width: 1024px) {}

            @media (min-width: 1024px) {}

            .analysis-boxes {
                word-wrap: break-word;
                font-size: 14px;
                padding: 10px 5px 0 10px;

                .analysis-box {
                    border-radius: 10px;
                    margin-bottom: 10px;
                    padding: 5px 5px 5px 5px;
                    // border-bottom: 1px solid #ccc;

                    .template-title {
                        margin-bottom: 5px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        text-overflow: ellipsis;
                    }

                    .analysis-top {
                        display: flex;
                        word-wrap: break-word;
                        flex-wrap: wrap;

                        .analysis-md5 {
                            word-wrap: break-word;
                            white-space: pre-wrap;
                            margin-right: auto;
                        }

                        .analysis-title {
                            margin-right: 5px;
                        }
                    }

                    .analysis-bottom {
                        margin-top: 5px;
                        font-size: 12px;
                        display: flex;
                        flex-wrap: wrap;
                        line-height: 20px;
                        align-items: center;

                        .el-progress {
                            width: 250px;
                            border-radius: 10px;
                        }

                        .first-label {
                            color: #fff;
                            border-radius: 5px;
                            padding: 0 5px;
                            margin-left: 8px;
                        }

                        .purpleLabel {
                            background-color: $purple;
                        }

                        .yellowLabel {
                            background-color: $yellow;
                        }

                        .greenLabel {
                            background-color: $green;
                        }
                        .blackLabel{
                            background-color: $word-black-color;
                        }

                        .greyLabel {
                            background-color: $grey;
                        }

                        .redLabel {
                            background-color: $red;
                        }

                        .time-label {
                            margin-left: auto;
                        }
                    }
                }

                .analysis-box:hover {
                    background-color: #f3f5f8;
                }
            }
        }
    }

    .right-boxes {
        flex: 3;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);

        .footer-title {
            display: flex;
            align-items: center;
            border-radius: 10px 10px 0 0;
            height: 40px;
            line-height: 25px;
            border-bottom: 1px solid #ccc;

            .el-divider {
                height: 13px;
                border-left: 5px solid $title-color;
                margin-right: 4px;
            }

            .title-box {
                color: $title-color;
                font-weight: 600;
                margin-right: auto
            }

            .more-view {
                font-size: 12px;
                color: #7a7a7a;
                margin-right: 8px;
                cursor: pointer;
            }

            .iconfont::before {
                font-size: 16px;
            }

            .icon-jinbi1 {
                color: #F6A71B;
            }

            .Gold {
                margin-left: 5px;
                margin-right: 20px;
                color: #EA8930;
            }
        }

        .icon-weibiaoti1 {
            text-align: center;
        }

        .icon-weibiaoti1::before {
            color: #86C368;
            font-size: 6px;
        }


        .el-calendar {
            .is-selected {
                color: #1989fa;
            }

            .tag {
                display: flex;
                align-items: center;
                // height: 10px;
                justify-content: center;
            }

            .tag2 {
                display: flex;
                align-items: center;
                // height: 10px;
                justify-content: center;
                font-size: 18px;
            }

            .aaa {
                .is-selected {
                    .yuyue {
                        color: #E6F3FF;
                    }

                    .datastyle {
                        color: #E6F3FF;
                    }
                }

                .datastyle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 3rem;
                    color: #353636;
                    font-weight: 600;
                }

                .prev .datastyle {
                    color: #c4c5c8;
                }

                .next .datastyle {
                    color: #c4c5c8;
                }
            }



            :deep {
                --el-calendar-selected-bg-color: #E6F3FF;
                --el-calendar-cell-width: 60px;

                .date-content {
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 14px;

                    @media (max-width: 765px) {
                        font-size: 12px;
                    }

                    @media (min-width: 765px) {}
                }

                .el-row {
                    align-items: center;
                    justify-content: center;
                }

                .el-calendar__header {
                    justify-content: center;
                    align-items: center;
                    padding-top: 20px;

                    @media (max-width: 765px) {
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    @media (min-width: 765px) {}

                    .el-button--small {
                        @media (max-width: 765px) {
                            padding-left: 3px;
                            padding-right: 3px;
                        }

                        @media (min-width: 765px) {}
                    }
                }

                .el-calendar__body {
                    padding-bottom: 30px;

                    @media (max-width: 765px) {
                        padding-left: 10px;
                        padding-right: 10px;
                    }

                    @media (min-width: 765px) {}

                }


                .el-calendar-table {
                    .el-calendar-day:hover {
                        background-color: #E6F3FF;
                    }

                    thead th {
                        color: $title-color;
                        font-weight: bold;
                        font-size: 14px;
                    }
                }
            }

            .center {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .center2 {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #E6F3FF;
                margin-left: 5px;
                font-size: 20px;
            }
        }

        .button-box {
            text-align: center;

            .prompt {
                font-size: 12px;
                color: $word-black-color;
            }

            .el-button {
                width: 200px;
                display: inline-block;
                margin-bottom: 10px;
            }
        }
    }
}

.footer-box {
    margin-top: 50px;
    height: 250px;
    color: #fff;
    background-color: #304a76;

    .footer-img {
        width: 30px;
    }
}

@font-face {
    font-family: "iconfont";
    /* Project id 4533157 */
    src: url("//at.alicdn.com/t/c/font_4533157_qzpmw0z66r9.woff2?t=1715863438264") format("woff2"),
        url("//at.alicdn.com/t/c/font_4533157_qzpmw0z66r9.woff?t=1715863438264") format("woff"),
        url("//at.alicdn.com/t/c/font_4533157_qzpmw0z66r9.ttf?t=1715863438264") format("truetype");
}

.iconfont::before {
    font-size: 20px;
    font-weight: 600;
}

.display-none {
    display: none;
}

.display-none1 {
    display: none;
}

.el-scrollbar {
    .avatar {
        display: flex;
        text-align: center;

        .avatar-box {
            margin: 5px auto;
            margin-top: 20px;

            .drop-img {
                border-radius: 50px;
                width: 50px;
                height: 50px;
                text-align: center;
                border-radius: 50px;
            }
        }

        .menu-item {
            margin-left: 20px;
        }
    }
}
.disabled{
    display: none;
}
.table {
    border: 1px solid #eceffe;
    border-radius: 10px;
    border-collapse: collapse;
    box-sizing: border-box;
    width: 100%;

    .tr:last-child {
        border: 0px;
    }

    .tr {
        display: flex;
        justify-content: space-between;
        height: 80px;
        line-height: 80px;
        border-bottom: 1px solid #eceffe;
        margin-left: 20px;
        margin-right: 20px;
        .iconImg{
            border-radius: 50px;
        }
        .td {
            flex: 1;

        }

        .td:nth-child(1),
        .td:nth-child(2) {
            display: flex;
            justify-content: left;
        }

        .td:nth-child(3) {
            display: flex;
            justify-content: right;
            align-items: center;
        }

        .homeUserInfoAvatar {
            width: 50px;
            height: 50px;
            margin-top: 15px;
            border-radius: 50%;
        }

        .fileTd {
            line-height: 10px;
            display: flex;
            align-items: center;
            justify-content: left;
        }
    }
}
.el-affix{
    .affix-box{
        font-size: 13px;
        box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
        opacity:1;
        background-color: #fff;
        height: 450px;
        width: 350px;
        margin-left: 30px;
        margin-bottom: 5px;
        border-radius: 10px;
    }
    .affix-top{
        display: flex;
        line-height: 40px;
        color: #fff;
        background-color: #065fed;
        border-radius: 10px 10px 0 0;

        .affix-title{
            font-size: 16px;
            margin-right: auto;
            margin-left: 20px;
        }
        .icon-close::before{
            font-size: 15px;
            margin-right: 20px;
        }
    }
    .affix-bottom{
        padding: 3px 10px 3px 10px;
        height: 360px;
        overflow-y: auto;

        .affix-left{
            margin-top: 8px;
            margin-bottom: 8px;
            display: flex;
            .affix-left-content{
                margin-right: auto;
                max-width: 90%;
                border-radius: 8px;
                padding: 5px;
                padding-left: 6px;
                background-color: #f1f1f1;
            }
        }

        .affix-right{
            margin-top: 8px;
            margin-bottom: 8px;
            display: flex;
            
            .affix-right-content{
                margin-left:auto;
                max-width: 90%;
                border-radius: 8px;
                padding: 5px;
                padding-left: 6px;
                background-color: #a9f0b9;
            }
        }
    }
    .affix-input{
        line-height: 40px;
        .input{
            width:82%;
            height: 16px;
            padding-top:2px;
            padding-left: 10px;
            outline: none;
        }
    }
    .affix-box-none{
        opacity: 0;
    }
    .icon-rengongzhineng::before {
        font-size: 35px;
        font-weight: 300;
    }
    .icon-fabusekuai::before{
        color:#065fed;
        font-size:22px;
        margin-left: 10px;
        cursor: pointer;
    }
}
        ::-webkit-scrollbar {
            width: 5px;
        }
    
        /* 滚动条轨道 */
        ::-webkit-scrollbar-track {
            background: #e8e8e8;
        }
    
        /* 滚动条滑块 */
        ::-webkit-scrollbar-thumb {
            background: rgb(104, 174, 255);
        }
    
        /* 当鼠标移上滚动条时，滑块的样式 */
        ::-webkit-scrollbar-thumb:hover {
            background: rgb(67, 144, 233);
        }